.carousel-container {
  position: relative;
  width: 73%; 
  margin: 0px auto 20px auto;  
  border-radius: 10px; 
  height: 350px;

  @media (max-width: 768px) {
    width: 90%; 
  }
}

// Image du Carousel
.carousel-image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px; 
  object-fit: cover;
}

// Indicateur du numéro d'image
.carousel-indicator {
  position: absolute;
  bottom: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  color: white; 
  font-size: 16px; 
  padding: 5px 10px; 
  border-radius: 5px; 
  background-color: transparent; /* Suppression du fond noir */

  // Masquer l'indicateur en version mobile
  @media (max-width: 768px) {
    display: none; /* Masque l'indicateur en dessous de 768px */
  }
}

// Boutons de navigation
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none; 
  color: white; 
  border: none; 
  font-size: 70px; 
  cursor: pointer;
  z-index: 1; 
}

.carousel-button-prev {
  left: 20px; 
}

.carousel-button-next {
  right: 20px; 
}

.carousel-button:hover {
  color: #f0f0f0; 
}
