.header {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Assure l'alignement vertical */
  background-color: #fff;
  width: 80%;
  margin: 10px auto 0px auto;

  h1 {
    display: flex;
    align-items: center; /* Centrer l'image à l'intérieur du h1 */
    margin: 0; /* Supprime les marges */
    line-height: 100px; /* Ajuste la hauteur de ligne pour centrer l'image */
  }

  h1 img {
    height: 100px;
    vertical-align: middle; /* Assure un alignement vertical */
    margin-bottom: -10px; /* Ajuste la position vers le bas */
    margin-top: 50px;
  }

  /* Media query pour les tablettes */
  @media (max-width: 768px) {
    width: 90%;
    margin: 20px auto;

    .header-logo h1 {
      font-size: 2rem;
      line-height: normal; /* Réinitialise la hauteur de ligne sur mobile */
    }

    .header-nav ul {
      gap: 30px;
    }

    .header-nav .nav-link {
      font-size: 1.2rem;
    }
  }

  /* Media query pour les mobiles */
  @media (max-width: 480px) {
    width: 90%; 
    margin: 10px auto;

    .header-logo h1 {
      font-size: 1.8rem; 
      line-height: normal; /* Réinitialise la hauteur de ligne sur mobile */
    }

    .header-nav ul {
      gap: 20px; 
    }

    .header-nav .nav-link {
      font-size: 1rem; 
    }
  }
}

.header-logo h1 {
  font-size: 2.5rem;
  color: #ff6060;
  margin: 0;
}

.header-nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.header-nav .nav-link {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.header-nav .nav-link:hover {
  text-decoration: underline;
}

.header-nav .nav-link.active {
  text-decoration: underline;
  font-weight: bold;
}
